#fighter-card-info {
	display: none;
	position: absolute;
	margin:0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height: 180px;
	width: 450px;
	background-color: #ededed;
	box-shadow: 0 0 10px 3px dimgrey;
	border-radius:10px;
	padding:16px;
}

h3{
	text-align:center;
}

input[type=text]{
	width: 40px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	width: 100%;
	background-color: tomato;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 0 5px 2px gray;
}

#game-screen{
display: none;
background-color: beige;
position: absolute;
top: 0;
width: 100%;
height: 100%;
z-index: 2;
}

#f-1{
	top:20%;
	left:20%;
	position: absolute;
	z-index: 3;
}

#f-2{
	top:20%;
	right:20%;
	position: absolute;
	z-index: 3;
}

#f-1-f{
	top:30%;
	left:20%;
	position: absolute;
	z-index: 3;
}

#f-2-f{
	top:30%;
	right: 20%;
	transform: scaleX(-1);
	position: absolute;
	z-index: 3;
}
