html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}


.checkbox {
    z-index: 1;
    position: absolute;
    width: 40px;
    background: green;
    float: left;
    margin: 5px;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
  }
  .checkbox:before, .checkbox:after {
    content: '';
    display: block;
    position: absolute;
  }
  /* 1 */
  .select-fighter {
    background: #F1F1F1;
    border-radius: 100px;
    padding: 20px;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
  }
  .select-fighter:before, .select-fighter:after {
    transition: 0.5s;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 0 10px -5px rgba(0,0,0,.5);
    border-radius: 50%;
  }
  .select-fighter:before {
    background: tomato;
  }
  .select-fighter:after {
    background: white;
  }
  .select-fighter:checked {
    box-shadow: 0 0 0 20px tomato inset;
  }
  .select-fighter:checked:before {
    width: 76px;
  }
  .select-fighter:checked:after {
    margin-left: 40px;
  }